{%- comment -%}
  Styles
{%- endcomment -%}
<style>
  p {
    text-align: center;
    color: white;
    background: black;
    padding: 5px 0;
  }
</style>



{%- comment -%}
  markup
{%- endcomment -%}
{% if section.settings.show_announcement %}

  <p>
    {{ section.settings.text | upcase }}
  </p>

{% endif  %}



{%- comment -%}
  schema
{%- endcomment -%}
{% schema %}
  {
    "name": "New announcement",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_announcement",
        "label": "Show announcement",
        "default": true
      }, {
        "type": "richtext",
        "id": "text",
        "label": "Announcement",
        "default": "Your Announcement"
      }
    ]
  }
{% endschema %}