<h1>{{ sections.settings.actext }}</h1>



{% schema %}
  {
    "name": "kazi-ac",
    "settings": [
      {
        "type": "text",
        "id": "actext",
        "default": "Welcome to our store",
        "label": "Input AC"
      }
    ]
  }
{% endschema %}